.footer1 {
    width: 100vw;
    background-color: #4c494e;
}

.footer1 > .row {
    width: 980px;
    height: 328px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.footer1 .footer1-article {
    width: 245px;
    height: 328px;
    padding-top: 40px;
    padding-right: 42px;
}

.footer1 h4 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 24px;
}

.footer1 p, .footer1 address {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    color: #c0c0c0;
}

.footer1 p.-colorGrey {
    color: #5c5c5c;
    padding: 10px 0 10px 0;
    vertical-align: middle;

}

.footer1 .line {
    border: 1px solid #5c5c5c;
    margin-bottom: 15px;
}

.footer1 strong {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.footer1 .address {
    margin-top: 10px;
}

.footer1 .-colorGrey span, .footer1 .address span {
    margin-left: 20px;
    line-height: 30px;
}

.footer2 {
    width: 100vw;
    background-color: #212121;
}

.footer2 > .row {
    width: 980px;
    height: 90px;
    color: #c1c1c1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer2 .social-menu li {
    display: inline-block;
    margin-left: 30px;
}